
body {
	background-color: rgb(228, 228, 228);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* top-child */

.container-title {
	font-size: 1.5em;
	font-weight: 600;
}

#escolha-plano {
	border: 3px solid rgb(100, 160, 255);
}

#top-container {
	margin: 2vw;
	margin-bottom: 0;
}

/* end of top-child */

/* bottom-child */

.container-subtitle {
	font-size: 1.4em;
	font-weight: 600;
}

.child-container {
	background-color: white;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	margin-bottom: 2vh;
	height: 41vh;
	position: relative;
}

.child-container-number {
	position: absolute;
	font-weight: 900;
	font-size: 2.5em;
	right: 5.25%;
	top: 5%;
}

.container-payflow {
	min-height: 400px;
	width: 26.5vw;
	float: left;
}

.container-payflow:nth-of-type(3) {
	margin-left: 1.75vw;
}

.container-payflow:last-child {
	float: right;
}

.container-payflow-bottomrow {
	margin-top: 25px;
	width: 100%;
}

/* end of bottom-child */

/* shared */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.container-input select {
	background-image: linear-gradient(45deg, transparent 50%, rgb(200, 0, 0) 50%), 
	linear-gradient(135deg, rgb(200, 0, 0) 50%, transparent 50%);
	background-position:
    calc(100% - 7px),
    calc(100% - 2px);
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
    -webkit-appearance: none;
}

.bottom-border, .container-input input[type="email"], .container-input input[type="password"], .container-input input[type="text"], .container-input select {
	border: 0;
	outline: 0;
	border-bottom: 1px solid rgb(200, 0, 0);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	padding-bottom: 5px;
}

::placeholder { 
    color: rgb(200,200,200);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	color: rgb(200,200,200);
}

::-ms-input-placeholder {
	color: rgb(200,200,200);
}

.red-alert {
	color: red;
	font-weight: bold;
}

.button {
	background-color: white;
	border: 1px rgb(200, 0, 0) solid;
	color: rgb(200, 0, 0);
	padding: 1.5%;
	width: 100%;
	font-size: 0.7em;
}

.button:hover {
	cursor: pointer;
}

.input-btn {
	display: inline-block;
	position: relative;
}

.input-btn::after {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	margin-top: -13px;
}

.btn-ok {
	position: absolute;
	right: 16px;
	bottom: 10px;
}

.btn-ok::after {
	background-color: rgb(0, 200, 0);
	/*background: url('http://lorempixel.com/16/16/');*/
}

.btn-edit::after {
	background-color: rgb(200, 0, 0);
	/*background: url('http://lorempixel.com/16/16/');*/
}

/* end of shared */

/* inputs */

.container-input {
	width: 100%;
	margin-bottom: 1%;
	position: relative;
}

.container-input label {
	font-size: 0.65em;
}

.container-input input, .container-input select {
	display: block;
	width: 100%;
	font-size: 1.1em;
}

/* end of inputs */

/* 'meus dados' */

#meusdados-warning {
	font-size: 0.65em;
	font-weight: 100;
	text-align: justify;
	margin-top: 25px;
}

/* end of 'meus dados' */

/* 'pagamento' */

.pagamento-cartaonum {
	position: relative;
}

.pagamento-cartaonum-col1 {
	width: 80%;
	display: inline-block;
	overflow: auto;
}

.pagamento-cartaonum-col1 > div {
	margin-top: 6%;
}

.pagamento-cartaonum-codseguranca {
	width: 40%;
	float: right;
}

.pagamento-cartaonum-ano, .pagamento-cartaonum-mes {
	width: 27%;
	margin-right: 3%;
	float: left;
}

#pagamento-button-multiplus, #pagamento-button-peela {
	width: 48%;
}

#pagamento-button-multiplus {
	float: left;
}

#pagamento-button-peela {
	float: right;
}

#pagamento-cartaonum-bandeira {
	width: 15%;
	height: auto;
	position: absolute;
	right: 3%;
	top: 20%;
}

/* end of 'pagamento' */

/* 'pedido' */

/* custom checkmark */

.acordo-container-input {
	font-size: 0.75em;
}

.acordo-container-input a {
	color: #000;
}

.acordo-container-input {
	display: block;
	color: #ccc;
	position: relative;
	padding-left: 25px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#pedido-checkbox-acordo {
	position: absolute;
	opacity: 0;
}

.custom-checkbox {
	position: absolute;
	top: 0px;
	left: 3px;
	height: 10px;
	width: 10px;
	border: 1px solid rgb(200, 0, 0);
}

.acordo-container-input:hover input ~ .custom-checkbox {
}

.custom-checkbox:after {
	content: "";
	position: absolute;
	display: none;
}

.acordo-container-input input:checked ~ .custom-checkbox:after {
	display: block;
}

.acordo-container-input .custom-checkbox:after {
	left: 2px;
	top: -1px;
	width: 3px;
	height: 6px;
	border: solid black;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* end of custom checkmark */

.pedido-convidados, .pedido-convidados-numero {
	float: left;
}

.pedido-convidados {
	padding-right: 5%;
}

.pedido-convidados-numero {
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 15%;
}

.pedido-convidados-valor {
	float: right;
	padding-left: 5%;
}

.box-plano {
	height: 46px;
	padding-top: 6px;
	margin-bottom: 5px;
}

.box-plano:first {
	padding-top: 8px;
}

.box-plano > div:nth-child(1) {
	font-size: 0.65em;
}

#pedido-button-voltar, #pedido-button-finalizar {
	width: 48%;
}

#pedido-button-voltar {
	float: left;
}

#pedido-button-finalizar {
	float: right;
	color: white;
	background-color: rgb(200, 0, 0);
}

.pedido-total {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.pedido-total span:first {
	float: left;
}

.pedido-total span:last-of-type {
	float: right;
}

.pedido-desconto-col1 {
	float: left;
}

.pedido-desconto-col2 {
	margin-top: 7px;
	float: right;
}

.pedido-desconto-col1 div:nth-child(1) {
	font-size: 0.65em;
}

.pedido-desconto-col2 input {
	border: 1px solid rgb(200, 0, 0);
}

/* end of 'pedido' */

/* 'escolha plano' */

#escolha-plano-select option {
	direction: rtl;
}

#escolha-plano-select-wrapper {
	margin-top: 15px;
	min-width: 200px;
	width: 20%;
	float: left;
}

#escolha-plano-planos {
	float: right;
	width: 77%;
	margin-left: 2%;
}

.plano {
	text-align: center;
	float: left;
	width: 10.5%;
	padding: 1%;
	font-size: 0.75em;
}

.plano > .plano-title > div {
	border: 0;
	outline: 0;
	border-bottom: 1px solid rgb(200, 0, 0);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
}

.plano-img > img {
	width: 100%;
	height: auto;
}

.plano:last-of-type {
	float: right;
}

.container-input-convidados {
	margin-top: 5%;
}

.container-input-convidados select {
	background-image: linear-gradient(45deg, transparent 50%, rgb(200, 0, 0) 50%), 
	linear-gradient(135deg, rgb(200, 0, 0) 50%, transparent 50%);
	background-position:
    calc(100% - 7px),
    calc(100% - 2px);
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
    -webkit-appearance: none;
	border: 0;
	outline: 0;
	width: 14%;
	float: right;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	font-size: 1.1em;
}

.convidados-label {
	font-size: 1.1em;
}

.container-escolha {
}

#escolha-beneficios-texto {
	width: 60%;
	max-height: 150px;
	right: 2vw;
	font-size: 0.75em;
	bottom: 2vh;
	position: absolute;
}

.escolha-beneficios-explica {
	font-size: 0.75em;
}

#escolha-beneficios {
	width: 28%;
	min-width: 325px;
	position: absolute;
	left: 2vw;
	bottom: 4vh;
}

.escolha-icon {
	float: left;
	width: 30%;
	text-align: center;
	font-size: 0.65em;
}

.escolha-icon:nth-of-type(2) {
	margin-left: 12px;
}

.escolha-icon:last-of-type {
	float: right;
}

.escolha-icon img {
	min-height: 50px;
}

/* end of 'escolha plano' */